[2014-01-08 18:23] mping opened #1 "Error: No compatible version found: firefox-profile@'axemclion/firefox-profile-js'"
Canno install latest version.

[code]

It seems that the `firefox-profile-js` dependency is unversioned in package.json and npm is probably trying to get the same version as `browser-perf` (0.0.9) which doesn't exist in `firefox-profile-js`.

`package.json` should probably indicate what version to use for the firefox profile dep.

[code]

I'm not a node expert, so please correct me if wrong.

[2014-02-25 00:26] #1 closed, assigned to nobody

[2014-04-26 17:07] axemclion opened #4 "E2E test cases should test expected metrics"
With so many changes in Chrome, E2E test cases should not just run tests, but also check for the existence of expected metrics

[2014-05-17 03:48] joshkurz opened #5 "Easy digestible results"
This is a nice product and I believe you are headed in the good direction, but there are some cases that I would mention, which I have not been able to find.

Is there any plan to use this project in a way that is more along the lines of jsperf. Meaning could this perf library run tests many times to generate an aggregate result, which would output some percentage difference between linked test ca

[2014-05-23 22:24] mysterycommand opened #7 "Command Not Found?"
Following the setup instructions, I get this error:

[code]

[2014-05-27 18:28] radhikakande opened #8 "env: node\r: No such file or directory"
npm install -save browser-perf

browser-perf http://google.com --browsers=chrome --selenium=localhost:4444

with default setting I am getting following error using terminal.

env: node\r: No such file or directory

[2014-05-27 20:51] #7 closed, assigned to nobody

[2014-05-28 04:54] axemclion opened #9 "Enable CPU/Heap Profiles for Chrome"
Can be done using something like `browser.execute(":takeHeapSnapshot");`
https://code.google.com/p/chromedriver/issues/detail?id=519

For profiles, use `browser.execute(':startProfile')` and `browser.execute(':endProfile')`. Endprofile gives the data.

https://codereview.chromium.org/275193003/patch/130001/140005

[2014-05-28 16:24] #5 closed, assigned to nobody

[2014-06-01 18:30] #4 closed, assigned to nobody

[2014-06-04 04:21] #8 closed, assigned to nobody

[2014-06-05 13:24] NodexTech opened #11 "Issues"
[ {"message":"[log(\"performance\")] Error response status: 13, , UnknownError - An unknown server-side error occurred while processing the command.","status":13,"cause":{"status":13,"sessionId":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX","value":{"message":"Unknown log type: performance"}},"jsonwire-error":{"status":13,"summary":"UnknownError","detail":"An unknown server-side error occurred while proc

[2014-06-16 05:34] FrankFang opened #12 "env: node\r: No such file or directory"
[code]

Mac OS 10.9.3

[2014-06-26 17:45] c0bra opened #13 "Can't start Chrome on Selenium"
I get this output in the Selenium logs:

[code]

[2014-06-26 21:32] #13 closed, assigned to nobody

[2014-08-21 05:35] #11 closed, assigned to nobody

[2014-08-21 05:36] axemclion opened #14 "Enable AndroidTracingProbe to work for Cordova Apps also"
Currently, adb only collects data from Chrome using this `adb shell am broadcast -a com.android.chrome.GPU_PROFILER_START -e categories "benchmark" -e continuous`

This needs to be replaced with `adb shell am broadcast -a com.android.org.chromium.action.PROFILE_START.package_name -e categories "benchmark" -e continuous ""` to enable data collection from webviews also

[2014-10-10 03:40] #12 closed, assigned to nobody

[2014-12-11 07:16] matiassingers opened #18 "Cordova app in iOS Simulator doesn't attach to remote debugger"
I followed the instructions specified in the wiki, and used a slightly modified version of the config file supplied by you guys here: [ios-hybrid-appium.config.json](https://github.com/axemclion/browser-perf/blob/master/test/res/ios-hybrid-appium.config.json). My config file looks like this:
[code]

Initially I was having problems with the remote debugger not being able to find a webview in Appium

[2015-01-05 16:03] Hsheepypx opened #20 "what option for export into couchdb localhost"
Hello,

What is the option to get the results in perfjankie / CouchDB?
http://localhost:5984/perfjankie/_design/site/index.html#/page-select
http://localhost:5984/_utils/index.html
I'm using
browser-perf <website> --browsers=chrome --selenium=localhost:9515 -v

Greetings.
Lesley van der Woude

[2015-01-05 18:11] matiassingers commented on #18
Any ideas @axemclion?

[2015-01-05 18:19] axemclion commented on #18
@matiassingers I did look at this again, and I was not able to repro is. I am guessing that this could be due to "autowebview"=true ?

In the script above, are you able to use the webview ?

[2015-01-05 19:29] matiassingers commented on #18
@axemclion I don't know why I didn't consider removing the `autoWebview` - seemed to help a little bit.

Now I encounter the following error:

**browser-perf:**
[code]

**appium:**
[code]

Have you encountered a similar error with no reference to `window`?
Perhaps it's now selecting a wrong WebView or something.

[2015-01-05 19:59] axemclion commented on #18
@matiassingers I have never had to remove autoWebView, it does seem to work without it. I have seen this error sporadically, but running the tests again seems to fix it.

I think the best way to debug it would be to see if we could directly drive `appium` using `wd`. Are you able to do thinks like `execute()` in your cordova app?

[2015-01-05 23:17] axemclion commented on #18
Actually, it can hook into any existing web drvier session, if you give it the ID. Looking at [protractor-perf](https://github.com/axemclion/protractor-perf/blob/master/lib/index.js) should give you an idea. It basically does the following
You need to look at creating a [bpRunner = new browserPerf.runner(config)](https://github.com/axemclion/protractor-perf/blob/master/lib/index.js#L11)

1. Modify

[2015-01-29 14:29] donaldpipowitch opened #21 "ECONNREFUSED"
Calling any URL like `$ browser-perf http://google.com` throws errors for me:

[code]

I'm using `$ node -v #v0.10.35`.

[2015-01-29 21:49] axemclion commented on #21
This tries to pick up selenium on localhost:4444. Is selenium running on that server ?

[2015-01-30 06:44] donaldpipowitch commented on #21
No, I thought this wouldn't use selenium at all, if no `--selenium` parameter is used. Sorry, about that! That's is probably the problem.

[2015-01-30 06:44] #21 closed

[2015-02-01 18:24] hinok opened #22 "Testing on real device (iOS - iPad) - device is unavailable"
Hey,
I want test my SPA on real device - iPad Air, but the problem is that iPad is not an available device in appium.

I copied config from browser-perf repo
[code]

Run:
[code]

Result
[code]

Other informations
- Xcode sees iPad in device screen (cmd + shift + 2 while xcode is opened)
- Appium is launched (appium &)
- I can run tests on iOS simulator
- appium-doctor says that everything is ok
[c

[2015-02-02 20:25] hinok opened #23 "Testing on real device (Android - Nexus 7) freezes on com.android.chrome.GPU_PROFILER_STOP"
I didn't have this issue in the old version of browser-perf. I cannot run tests with browser-perf 1.1.2 anymore.

Probably related to: https://github.com/axemclion/perfjankie/issues/21 ?

Log
[code]

- Nexus 7 / Android 5.0.2
- Chrome installed on Android 40.0.2214.89
- browser-perf 1.1.2

[2015-02-02 23:54] axemclion commented on #23
Can you please try this on browser-perf 1.1.0 ? This could be due to https://github.com/axemclion/browser-perf/commit/2d82d2846e3b711ec26818d5b8bef74acc5f5fb5.

Let me try running this on a real device and see. Also, can you run `adb shell am broadcast -a com.android.chrome.GPU_PROFILER_START` and then `adb shell am broadcast -a com.android.chrome.GPU_PROFILER_STOP` to see if you are able to colle

[2015-02-02 23:55] axemclion commented on #18
Did this fix the issue for you? Closing the issue since this was a question now. If this issue is still not fixed, please reply here and I can re-open the issue.

[2015-02-02 23:55] #18 closed

[2015-02-02 23:57] axemclion commented on #22
This looks like an appium issue. It may be quicker to isolate the issue and just try to run a scenario using appium alone. Can you try running a simple selenium test (say load a page, and print its title) using appium without browser-perf ?

[2015-02-03 12:15] hinok commented on #22
I see that @scnymc had exactly very similiar issue like me with appium, more on https://github.com/appium/appium/issues/4198#issuecomment-65179542

Especially this fragment and fact that he also wanted run tests on iPad.
[code]

I will try today evening run only appium with bypassing browser-perf.

[2015-02-03 20:29] hinok commented on #23
It works now. I downgraded to 1.1.0 and browser-perf run tests correctly.

Logs
[code]

Running `adb shell` commands

[code]

[code]

[2015-02-03 21:26] axemclion commented on #23
Awesome - so this looks like the bug in the way I was trying to read trace profiles. Thanks for noticing this. I will work on fixing this and will release a new version soon.

[2015-02-03 21:37] hinok commented on #22
Hey, appium works perfectly with this simple test. At the beginning SafariLauncher opens apple.com but after few seconds it opens also my defined page in test, in this case: http://github.com.

[code]

Output

[code]

[2015-02-25 06:19] hy9be opened #24 "[Question] How long will the measurements been collected after the preScript (or the action) is executed?"
Just a question. Thanks!

[2015-02-25 06:52] axemclion commented on #24
Measurements are started only after the preScript finishes, and just before action starts. It ends when the action ends. [This](https://github.com/axemclion/browser-perf/blob/master/lib/index.js#L51) should give you an idea of the order or actions.

Note that this is NOT time based, unless your action has a timer in it, or you use the [wait action](https://github.com/axemclion/browser-perf/blob/ma

[2015-02-25 06:52] #24 closed

[2015-02-25 15:07] hy9be commented on #24
Got it. Thanks!

[2015-03-09 16:19] testingbot opened #25 "Add support for TestingBot.com"
Really like this tool and http://www.perfmonkey.com
Would it be possible to add support for TestingBot.com's selenium grid?

We can offer free minutes to people using perfmonkey if you're interested.

[2015-03-09 17:10] axemclion commented on #25
@testingbot That sounds like a cool idea. It may make sense to use this with http://github.com/axemclion/perfjankie instead.

[2015-03-22 19:01] gosatin opened #26 ""window.__RafRecorder" gets undefined if WebDriver is started using 'protractor_webdriver'"
Hi axemclion,

Your framework works perfectly if I run "protractor protractor.conf.js" manually. But if I use my grunt test goal with the same protractor.conf.js file that starts WebDriver manager using 'protractor_webdriver' module - it fails the test with the following error:
Fatal error: 11:34:48.145 WARN - Exception thrown
org.openqa.selenium.WebDriverException: unknown error: Cannot read prop

[2015-03-31 23:18] axemclion opened #27 "Enable Performance Mode"
Performance mode enables less noisy results. More info here

https://code.google.com/p/chromium/codesearch#chromium/src/build/android/pylib/perf/perf_control.py&l=29

Git - https://chromium.googlesource.com/chromium/src/+/32b3e358017c863318fa7cca3a3c41bb5d056c24/build/android/pylib/perf/perf_control.py, line 29

[2015-04-01 21:22] axemclion opened #28 "Chrome on Android tracing not working on windows"
Chrome on Android not working on Windows, not picking up tracing statistics.
Caused because how `adb shell am broadcast -a com.android.chrome.GPU_PROFILER_START -e categories "benchmark" -e continuous ""` is passed to the command line.

[2015-04-01 21:22] axemclion commented on #28
Repro redux

[code]

[2015-04-02 04:05] #28 closed

[2015-04-02 04:07] axemclion commented on #23
@hinok I just fixed that in this commit - https://github.com/axemclion/browser-perf/commit/e52eebe7e5462a5a68a70015b8e3dc418495f4fc.

Can you please check ? Not yet published it to npm yet, but if you think this fixes the issue, I can also push to npm.

[2015-04-02 04:09] #23 closed

[2015-04-02 04:11] axemclion commented on #26
@gosatin Looking into this right now.

[2015-04-03 03:45] axemclion commented on #26
@gosatin, Figured out what the problem here is - looks like in this case, the selenium server starts *After* browser-perf is initialized. There is a race condition when the webdriver-manager starts the selenium server, and when browser-perf gets initialized. Hence this error. To repro this, try setting `export DEBUG=*` and then run your command. You should see how browser-perf starts, and then som

[2015-04-03 03:46] axemclion commented on #26
Since this is a protractor-perf issue, closing this issue on browser-perf. This issue is tracked here - https://github.com/axemclion/protractor-perf/issues/2, and a few more folks have reported it. I will work on fixing the issue on that repo, please follow that repo/issue for more details.

[2015-04-03 03:46] #26 closed

[2015-04-03 22:03] hinok commented on #23
Great! I will give a try in next week and report result.

[2015-04-08 03:28] inian opened #29 "Enabling throttling of speeds when testing"
It is very useful to test websites on multiple connection speeds such as 3G, Wi-Fi and so on and measure performance using these connections.

[2015-04-08 15:51] axemclion commented on #29
@inian That is a good idea. I am guessing that you are looking to measure impact on rendering on slow network connections - for example, the change on frame rates when you load a CSS or a font after the page has been loaded, right ? You are not trying to measure load times of pages directly using browser-perf right ?

I think that it may not make sense to make this functionality a part of browser-

[2015-04-08 15:52] axemclion commented on #29
Closing this bug as I believe that this should be solved outside browser-perf using other tools that can be combined with browser-perf. If you strongly feel otherwise, please re-open and we could discuss ways this can be solved inside browser-perf.

[2015-04-08 15:52] #29 closed

[2015-04-23 00:12] #25 closed

[2015-04-23 00:14] axemclion opened #31 "Use new format of timeline to pick up Timeline events"
Chrome 41 has deprecated Timeline and enableTimeline - it now gets the same events in Tracing. This is enabled by using `traceCategories: 'blink.console,disabled-by-default-devtools.timeline'` in the `perfLoggingPrefs` capabilities.

The timeline format has also changed.

[2015-04-23 00:15] axemclion commented on #31
Updated the TimelineMetrics using this - https://github.com/axemclion/browser-perf/pull/30

Also need to update it in ChromeTracingMetrics.

[2015-04-24 06:30] axemclion commented on #31
Reference for [Trace event format](https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/edit#)

1. (Normalize](https://github.com/angular/angular/blob/8ccafb0524e3ac4c51af34ef88e0fe27482336a6/modules/benchpress/src/webdriver/chrome_driver_extension.js#L60) perf log

2. Process events from [Perflog](https://github.com/angular/angular/blob/8ccafb0524e3ac4c51af34ef88e0fe274

[2015-05-07 14:01] izhutaev-sugarcrm commented on #31
Hello @axemclion, is this issue related to "result" do not contain any of TimelineMetrics (such as "FunctionCall", "EventDispatch" and e.t.c)? I've recently updated to 1.2.4 with this PR https://github.com/axemclion/browser-perf/pull/30 applies, but I can't see TimelineMetrics metrics that were before (Chrome 42).

[2015-05-07 14:34] axemclion commented on #31
@izhutaev-sugarcrm Yes, that is correct. You should be able to see timeline if you pick up the master branch on the project - that has the code.

I am working on refactoring the code and then putting it up on npm.

[2015-05-07 14:38] izhutaev-sugarcrm commented on #31
@axemclion Thanks for the quick reply! I will try master branch and than update when new version will be available

[2015-05-08 02:25] axemclion commented on #31
Published a quick fix to npm - browser-perf@1.2.5 that fixes this issue.
Closing this issue since timeline data is available. However, note that this breaks the RuntimePerfMetrics. Will open a bug for that and fix it.

[2015-05-08 02:25] #31 closed

[2015-05-08 02:29] axemclion opened #32 "Re-enable RuntimePerfMetrics category"
Metrics like average painted area, expensive events, etc were all disabled when timeline events got picked up from tracing, as per [this bug](https://github.com/axemclion/browser-perf/issues/31).

Renable RuntimeperfMetrics, since the data obtained is very similar.

[2015-05-08 02:29] axemclion commented on #31
Fixed in https://github.com/axemclion/browser-perf/commit/6c01a7b8c8709c8a572080f65624b1ebd353c97c

[2015-05-08 02:34] axemclion commented on #32
RuntimePerfMetrics make the following available - Layers, PaintedArea_total | PaintedArea_avg, NodePerLayout_avg,  ExpensivePaints, GCInsideAnimation, ExpensiveEventHandlers.

Of these, ExpensivePaints, PaintArea and NodesPerLayout can easily be calculate as they only need one event.

However, metrics like GCInsideAnimation and ExpensiveEvent handlers look for nested events, which don't seem to oc

[2015-05-12 03:50] #32 closed

[2015-05-26 16:35] dreamzmaster commented on #12
I am again having this issue.

[code]

[2015-05-26 17:01] axemclion commented on #12
@dreamzmaster Which version of browser-perf are you using, and what is your platform ?

[2015-05-26 17:46] dreamzmaster commented on #12
I am using Mac OSX

Version:
[code]

[2015-05-26 18:32] axemclion commented on #12
@dreamzmaster Fixed now - looks like this was due to line endings.

[2015-05-27 03:01] matiassingers commented on #12
@axemclion running this might fix this for you:

[code]

But the issue could still show up on other machines without this setting, so creating a `.gitattributes` in the repo with this:
[code]

[2015-05-27 04:25] axemclion commented on #12
This was set on a mac machine - i tried editing code using a new machine, hence the screw up.

[2015-06-01 18:03] challapruthvi commented on #21
when I am trying to run browser-perf http://google.com . I am getting the following error
[ { [Error: [init({"browserName":"chrome","version":35,"chromeOptions":{"perfLog
gingPrefs":{"traceCategories":",blink.console,disabled-by-default-devtools.timel
ine,benchmark"},"args":["--enable-gpu-benchmarking","--enable-thread-composting"
]},"loggingPrefs":{"performance":"ALL"}})] connect ECONNREFUSED]

[2015-06-01 19:13] axemclion commented on #21
What port is selenium running on ? It should run on 4444 if you don't specify an option.

[2015-06-09 20:51] stormzh opened #34 "Meet an issue in testing case."
Here is the main js code I used:

[code]

Here we define a customized action "click" in the actions which is

[code]

While in the execution, the program exits with "undefined" exception. If we set a breakpoint at "console.log('start click')", we can see "browser.elementByCss" is indeed a function object. Anything goes wrong? Thanks a lot.

[2015-06-11 01:49] #34 closed

[2015-06-11 02:41] axemclion commented on #34
@stormzh Were you able to get this fixed ? You basically should `require(./click.js)` instead.

[2015-06-11 14:50] hy9be commented on #34
@axemclion I had discussion with @stormzh offline on this. It looks we have to use the ``.then()`` syntax powered by ``Q``, to avoid running into this sort of issue. Is this a known fact? If it is, we may just edit the document to mention that.

[2015-06-11 17:34] axemclion commented on #34
Yes, the actions follow promises and you are right, we should indeed edit the documentation. Can you please change the wiki so that it benefits others too ?

[2015-06-11 18:08] hy9be commented on #34
Just add a paragraph in the "actions" section on the page: https://github.com/axemclion/browser-perf/wiki/Node-Module---API

[2015-06-11 18:16] axemclion commented on #34
@hy9be Awesome - thanks !!

[2015-06-15 22:09] stormzh opened #35 "the preScript doesn't work"
I use a prescript for user log in and other web actions before the real action starts. Here is the variable options is defined:
[code]
I noticed that the prescript is not executed. By debugging, I found that in lib\index.js, this is the order of the code:
[code]
this means the browser will open the link after the prescript is executed which is wrong since the prescript needs the linked website to

[2015-06-16 00:10] axemclion commented on #35
@stormzh This order or execution was intentional, and the order of execution is
1. The prescript would log in the user. Hence, it would have to navigate to a login url, and perform the login actions. This would typically set a cookie.
2. The url of the page to be tested is then navigated to. This would be a different URL than the page where the user was logged into. Note that we have still not sta

[2015-06-16 00:12] axemclion commented on #35
For login specifcally, there is a `require(''browser-perf\lib/actions/loginAction.js')` that you could use. I could include a sample in the docs that logs into twitter and tests the feed page - will that help ?

[2015-06-16 03:27] stormzh commented on #35
Thanks a lot, axemclion. I get your point. Here I need to make the change since our link is dynamically generated so we can set the homepage as the url and measure a specific action performance after logged in and some subsequent actions. I use my own preScriptFile and the customAction files.

BTW, we need to update the API wiki page for the preScript sample by removing the out-most function, i.e.

[2015-06-21 02:26] hy9be opened #36 "Question: full list of traceCategories options"
It looks you picked two options ``blink.console`` and ``disabled-by-default-devtools.timeline``: https://github.com/axemclion/browser-perf/blob/master/lib/metrics/TimelineMetrics.js#L22

Do you know any document that I could find the full list of the trace categories?

[2015-06-21 03:09] axemclion commented on #36
It is basically everything you see in about:tracing "Record Dialog".

![untitled](https://cloud.githubusercontent.com/assets/17868/8270190/2b031a22-1788-11e5-9352-9d770a830c19.png)

The "value" of each radio button can be used I guess.

[2015-06-21 03:09] #36 closed

[2015-06-21 03:12] hy9be commented on #36
Got it. Thanks a lot!

[2015-06-21 03:16] hy9be commented on #36
It seems neither ``blink.console`` nor ``disabled-by-default-devtools.timeline`` are in the list. I am on Chrome 43. Is this expected?

[2015-06-21 03:28] axemclion commented on #36
The screen shot was also from Chrome 43 - It is called devtools.timeline. Inspecting it shows the id to be `disabled-by-default-devtools.timeline`

[2015-06-21 03:43] hy9be commented on #36
Got it. Missed the "inspecting" part. Thanks!

[2015-06-23 01:39] stormzh commented on #35
Thanks, axemclion. The issue is closed.

[2015-06-23 01:39] #35 closed

[2015-07-03 09:33] csharsha opened #38 "Issue: The environment you requested was Unavailable"
Hi,
I tried to use browser-perf, it successfully launched the hybrid app, but after some time being in idle state, it thrown the error in console as follows,

D:\SeleniumAutomation\Documents\Selenium req jar files\AppiumForWindows-1.2.0.1\Appium>browser-perf --config-file test/configfile1.json
Error: [init({"browserName":"android","chromeOptions":{"androidActivity":"com.csc.chmwardview.chndev.chmW

[2015-07-03 13:41] axemclion commented on #38
It would be hard to debug this issue without actually looking at the app. `browser-perf` simply uses appium to connect to the app. Is the `webview` in teh hybrid app destroyed after some time ?
A simple test would be to run the automation script using appium without `browser-perf` and see if you still get the same error.

[2015-07-04 05:11] csharsha commented on #38
I have been executing the app with appium from many days and it works fine. The problem came when I used browser-perf. The AUT is an android hybrid app. Please help. And please tell the answers to my other questions above.

[2015-07-06 07:54] csharsha commented on #38
Please help, I really need to implement this in my app. Please guide me how can I setup browser-perf to an hybrid app. I can mail you in private, I need this for performance evaluation in my app.

Thanks

[2015-07-10 15:13] hy9be opened #39 "CEF returns on command "GetLog""
I know this may not be the problem of browser-perf. But just want to confirm that whether we are suppose to use the tool against CEF.

The full error msg is: ``unknown error: session deleted because error encountered when notifying listeners of 'GetLog' command from unknown error: unexpected command response``

[2015-07-10 15:56] axemclion commented on #39
Could you check if CEF responds to logTypes command ? The best way is to start up selenium and run the logType command - https://seleniumhq.github.io/selenium/docs/api/java/org/openqa/selenium/logging/LogType.html

You should see a `performance` log

[2015-07-10 15:57] axemclion commented on #38
I do not yet understand your environment. Is there a way you can tell me what the hybrid app does ? If the app code cannot be shared, a good way to see is if you can connect to the hybrid app using selenium or appium.

[2015-07-10 18:01] hy9be commented on #39
performance, browser, driver, client are there, when I call ```java driver.manage().logs().getAvailableLogTypes```

[2015-07-10 18:02] hy9be commented on #39
But it looks even LogType.BROWSER also returns some error.

[2015-07-10 18:26] axemclion commented on #39
This could be a problem with CEF, not sure what the issue is.

[2015-07-10 18:26] #39 closed

[2015-07-10 18:27] hy9be commented on #39
Thanks!

[2015-08-06 12:45] Techies15 commented on #22
hey guys, i need a small help in here ....My script is given below.Can someone help me out cos I'm facing the same issue where the page stay in "apple.com"....I am not able to open "m.ebay.in"

CODE:
public class CSmartWeb{

	public static RemoteWebDriver driver = null;
	private static Utils utils =null;
	@Test
	public void testCaseDefaultScnTsts() throws Exception {
	try{
		System.out.println("te

[2015-08-06 18:07] axemclion commented on #22
@Techies15 Could this be an issue with appium ?

[2015-08-07 06:57] Techies15 commented on #22
@axemclion I have tried this with appium version 1.4.8
Any solution or workaround for this??

[2015-08-07 16:40] axemclion commented on #22
@Techies15 You mean this works with Appium ?

[2015-08-21 17:57] chocochik92 opened #41 "Multiple Selenium addresses?"
Is there support for multiple selenium addresses? I run my tests on virtual machines and i would like to have the selenium driver running on those machines. So I tried `['http://192.168.1.126:4444/wd/hub','http://192.168.1.134:4444/wd/hub']` and it gave me this error: `TypeError: Cannot read property 'match' of undefined`

[2015-08-21 22:26] axemclion commented on #41
At the moment, browser-perf just starts the test on one instance of selenium Are you looking to cycle through multiple instances ? You may need to write a tiny wrapper that does it.

[2015-08-24 21:49] chocochik92 commented on #41
I ended up just having different config files

[2015-08-24 21:49] #41 closed

[2015-08-24 22:39] axemclion commented on #41
@chocochik92 That seems to be the right way to go. Do let me know how it goes, and I would be glad to help if other problems come up.

[2015-09-08 07:51] ramanathanMuthuraman opened #42 "Unable to set proxy"
As I am unable to set the proxy, the requested page is not available. I tried to pass proxy config but it still didn't work. Let me know how it can be resolved. Please find the  screenshot below

![browser-perf](https://cloud.githubusercontent.com/assets/5201881/9729341/6438304c-562c-11e5-95bb-509776c75390.png)

[2015-09-08 15:20] axemclion commented on #42
@ramanathanMuthuraman What params did you pass to set a proxy ? can you help describe the use case better pleasE?

[2015-09-08 15:21] axemclion commented on #38
Closing this due to lack of response. Please re-open if needed.

[2015-09-08 15:21] #38 closed

[2015-09-09 05:06] ramanathanMuthuraman commented on #42
Used the proxy key and passed it in options object.Please find the code in the below snapshot.

![browser-perf-code](https://cloud.githubusercontent.com/assets/5201881/9753732/86b85fc2-56de-11e5-82b9-881393fbffa5.png)

[2015-09-09 20:06] axemclion commented on #42
browser-perf does not support proxies. Is this like a HTTP proxy ? Can you help me understand what the goal here is.

[2015-09-10 04:24] ramanathanMuthuraman commented on #42
Yeah HTTP proxy. There is a firewall present and henceforth the error.

[2015-09-10 15:53] axemclion commented on #42
If the proxy serves the webpage, you can simply point to the proxy in the `url` key.

[2015-09-10 17:47] csharsha commented on #38
As mentioned above,my app is perfectly working with appium/selendroid

[2015-09-10 18:03] axemclion commented on #38
@csharsha Sorry, I meant that I was closing since there was no action item.

[2015-09-11 07:02] ramanathanMuthuraman commented on #42
No luck :(
But using "ondemand.saucelabs.com" instead of localhost works.

[2015-09-11 07:02] #42 closed

[2015-09-16 23:56] haroldtreen opened #43 "Generating Timeline metrics with Chrome Trace"
Timeline had some really awesome metrics:

https://github.com/axemclion/browser-perf/blob/master/docs/TimelineMetrics.json

Since it's been deprecated, is there a way to generate some of these using the trace data? We're using perfjankie and a bunch of sections aren't getting any data without these stats.

We're using Chrome 45. Any thoughts?

[2015-09-17 01:51] axemclion commented on #43
browser-perf does give continue to pick up timeline metrics from tracing logs - it was done in this commit - 6c01a7b8c8709c8a572080f65624b1ebd353c97c

Are you not able to see timeline metrics ? Can you run browser-perf with `DEBUG=*` env variable set and send me the logs ?

[2015-09-17 16:52] haroldtreen commented on #43
Thanks for the quick reply!

Here's the logs:
[code]

And these are the stats that are being returned:
[code]

It doesn't look like any of the timeline metrics are present :/.

[2015-09-17 17:47] axemclion commented on #43
Actually, things like InvalidateLayout, all stats with _avg/_count, etc are from the timeline. How are you invoking browser-perf ? Are you invoking it from the command line ?

[2015-09-17 18:40] haroldtreen commented on #43
I've used it both in the command line and as a module within a node program.

We're just trying to figure out why so many sections in PerfJankie are empty:
![image](https://cloud.githubusercontent.com/assets/1745854/9941985/835c85d8-5d2d-11e5-9bcf-2705e5c66328.png)

The missing sections are:
- Timer Install
- Timer Fire
- Event Dispatch
- Function Call
- Paint
- Layout
- Recalculate Styles

...And

[2015-09-17 19:13] axemclion commented on #43
Looks like these metrics do not show up because they do not occur in the timeline. Are you running this on a page that is long enough to scroll ? Can you send me a link to the site you are trying to record ? What action are you performing ?

[2015-09-17 20:00] haroldtreen commented on #43
The page I'm trying to test is long enough to scroll, but it is pretty basic so I wondering the same thing.

But running browser-perf with more complex sites using parallax doesn't seem to generate these events either. Eg. http://islreview.com/

These are the events that site produced:
[code]

I haven't tried any more complex actions, just scrolling.

[2015-09-19 04:08] axemclion commented on #43
Thanks for the info - looks like I may need more help from you to figure out if this is an issue, and if paint events are infact emitted during the scroll.

Note that by default, the measurements are done after the page has completely loaded. There could be a chance where since there is nothing to draw, all the scroll work is done by the GPU on that page.

One way to be certain is to enable [the l

[2015-09-21 22:08] haroldtreen commented on #43
Thanks for looking into it! I'll give your tests a try.

I've tried quite a few sites with browser-perf and never seen the "Paint" event, so I'm curious if it's still in use.
I'll give the script a try and see what logs I can get from different sites.

[2015-09-21 23:22] haroldtreen commented on #43
I tried this code: https://gist.github.com/axemclion/38265a963f5a863f7a53

The logs I got showed no sign of the "Paint" event. Instead there was references to things like:
- PaintImage
- ContentLayerDelegate::paintContents
- DeprecatedPaintLayer::updateLayerPositionsAfterLayout

I even got ride of the line where the performance data is flushed after fetching the site and was unable to see any "Pai

[2015-09-22 00:29] axemclion commented on #43
@haroldtreen I think it makes sense. Maybe we should look at ChromeDevTools source and look at how they calculate the paint event now ?

[2015-09-23 05:31] haroldtreen commented on #43
Good idea!

I've just poked around briefly and found this: https://code.google.com/p/chromium/codesearch#chromium/src/out/Debug/gen/devtools/timeline_module.js&q=PaintImage&sq=package:chromium&type=cs&l=315

Although those all look like events from the in browser debug timeline and not the trace logs.

It's interesting because if the timeline data was being shown in the performance logs, you'd exp

[2015-10-24 13:34] hinok commented on #43
I confirm that I also don't get anymore any metrics related to JavaScript and rendering events like Paint, Layout etc.

[code]

[2015-10-24 16:42] axemclion commented on #43
Yup, looks like the perflog format changed. I will try to see if I can spend some time this week to reconcile the results to a newer format.

[2015-11-01 03:20] #43 closed

[2015-11-08 14:55] kangax opened #45 "Document more metrics"
I'm seeing more metrics than documented at https://github.com/axemclion/browser-perf/wiki/Metrics. I'm guessing some of them are newer additions in timeline. It would be great to document more of them.

Here's an example output of my script that compares 2 versions of a page:

[code]

[2015-11-08 15:07] kangax commented on #45
Specifically, things that are missing:

[code]

[2015-11-08 15:24] kangax commented on #45
A lot of this stuff seems to be defined in http://opensource.apple.com/source/WebCore/WebCore-7537.70/inspector/InspectorTimelineAgent.cpp

I'll be adding things here little by little to help anyone looking for the same info:

### HitTest
http://stackoverflow.com/questions/33174286/what-is-the-chrome-dev-tools-hit-test-timeline-entry

### PaintedArea
[browser-perf-defined](https://github.com/axemc

[2015-11-11 15:14] kangax opened #46 "Timeline metrics highly inconsistent"
I'm pretty certain this has nothing to do with browser-perf, but I noticed that timeline metrics are very inconsistent. I wonder if anything can be done about that? (aside from running multiple tasks and getting a mean, which is obviously a super long process)

Here's an example of running the same page through browser-perf multiple times:

<img width="765" alt="screen shot 2015-11-11 at 4 08 38 p

[2015-11-12 00:22] axemclion commented on #46
Would it be possible to share the automation script and the page that you are trying to test? If you have a lot of selenium scripts, they are also counted towards function calls - these function calls are run over a network which could be a big cause of inconsistencies.

When a metric usually does not appear, it usually means that such an event did not occur on the timeline.

[2015-11-12 00:28] axemclion commented on #45
I think this is a great idea. The explanation for each metric is in here - https://github.com/axemclion/browser-perf/tree/master/docs. While I try to keep them updated for each chrome version, new metrics keep popping up with new versions on Chrome :)

Would update these in the docs when I get time. Would also appreciate a PR if you can do it earlier than what I can manage.

[2015-11-26 17:17] dvotion opened #47 "No stats when running from Android Chrome using Selenium/Appium/Protractor"
When running Browser-Perf on a Android phone - Chrome Browser through a Protractor test (Appium) and I select the metrics: TimelineMetrics and/or ChromeTracingMetrics there is no output. The Chrome browser makes notice of a new profile created and also saves a profile.json file to the downloads directory on the phone. But unfortunately never gives back the data and freezes.

When I use the other m

[2015-11-26 18:11] axemclion commented on #47
@dvotion, can you run `browser-perf` after you have turned on debugging ? You could do that by setting the environment variable `DEBUG` to *.

Pasting the logs here would help debug the problem. Was there a specific site you were looking to run this with  ?

[2015-11-26 18:14] axemclion commented on #46
Closing this issue - had a discussion on ways to make the metrics consistent. Some tips discussed were

- Bootstrap the custom action and send it in one webdriver command instead of multiple commands since these commands are sent over the network
- Limit to collecting only one type of metric - specify the metric explicitly.
- You can run diagnostics by setting the `DEBUG` environment variable to *

[2015-11-26 18:14] #46 closed

[2015-11-26 18:36] dvotion commented on #47
@axemclion Not sure if this is what you want. In the attachment a part of the config with debug settings and the Appium log. The protractor test just runs a real simple test tot angularjs.org

[appium.txt](https://github.com/axemclion/browser-perf/files/45192/appium.txt)
[config.txt](https://github.com/axemclion/browser-perf/files/45193/config.txt)

[2015-11-26 21:01] axemclion commented on #47
These are great, but I was actually looking for the logs that are generated when browserPerf is running. That has a way to warn when there are not enough frames to record the events that mark frame rates or Timeline configurations.

Also in those logs, you should see a way browserPerf pulls a trace file using `adb pull` from the device to your machine - taking a look at that file will help.

You c

[2015-11-27 03:44] dvotion commented on #47
I think a result of the error is that pulling the trace file from the mobile phone is not working. Chrome saves the profilerlog to the phone itself but Browserperf can't seem to pick it up using adb pull for these 2 metric groups. I've attached 2 profiler files which were saved to the phone instead of giving back to Browserperf.

[chrome-profile-results-2015-11-26-162915.txt](https://github.com/ax

[2015-11-27 16:16] axemclion commented on #47
That should explain why browserPerf is not showing the timeline data. If you run browserPerf in debug mode, it will show the exact `adb pull` command that tries to copy the file. The issue could be that browserPerf is trying to copy the file from an incorrect location.

Can you look for that command in the debug log ?

[2015-11-27 16:45] dvotion commented on #47
Do you have an example how to run browser-perf in debug mode?

[2015-11-28 03:05] axemclion commented on #47
looks like protractor is throwing an error. Can I request you to run this test from browser-perf and paste the logs here - that way, the error will be better pronounced.

[2015-11-28 07:19] dvotion commented on #47
The error in the end is thrown by Protractor because of a timeout which is caused because browser-perf is freezed. When I run the same test without Browser-Perf it goes okay. When I run the same test with BrowserPerf but without the "TimelineMetrics and ChromeTracingMetrics" there is also no error and everything goes fine. So the Browserperf with metrics "RafRenderingStats", "NetworkTimings", "Net

[2015-11-29 10:25] dvotion commented on #47
@axemclion I've inserted a debug for the query and uncomment the debug row for the function AndroidTracingProbe.prototype.waitForLogCat_

Right now the debug logs shows the following:

bp:metrics Initializing Metrics +0ms
  bp:probes Registering probe +4ms RafBenchmarkingProbe
  bp:probes Registering probe +117ms PerfLogProbe
  bp:probes:AndroidTracingProbe Initialize +2ms
  bp:probes Registering

[2015-11-30 14:50] dvotion commented on #47
@axemclion I think I found the reason why it's not working. When the function "stoprecordingtrace" starts, the first promise after "adb shell am broadcast -a com.android.chrome.GPU_PROFILER_STOP" waits for the logcat to return. When you comment this promise and go straight to the file parsing everything is working fine. Can you tell me a bit if this commented promise is critical for running or is

[2015-12-09 06:44] axemclion commented on #47
Sorry for the late response, the holidays distracted me.

@dvotion The reason to wait is that once you send the Intenet to stop GPU, you would need to wait a little before all the information is written. Logcat writes that message, indicating that the trace is written to the file, and I read it from there.

The `waitForLogCat_` basically checks logcal for a line that says something like `Profiler

[2016-01-12 15:15] developit commented on #12
This is happening again.

[2016-01-19 14:20] dkozma commented on #12
Can confirm this is happening again (OS X 10.11.2, Node v5.4.0, NPM 3.3.12).

[2016-01-19 14:30] developit commented on #12
Editing the file to use LF fixes it.

[2016-01-19 16:11] axemclion commented on #12
Can you send in a pull request for this please ? I should be able to merge it.

[2016-01-19 16:41] axemclion commented on #12
@dkozma @developit, I just published a new version. That should have this fixed. Also pushed a .gitattributes file. Can you check if that works  ?

[2016-01-19 18:59] developit commented on #12
@axemclion confirmed, that fixed it. Thanks! Just writing a JSON reporter now :)

[2016-01-20 13:39] dkozma commented on #12
Verified on my env as well - thanks @axemclion!

[2016-01-20 22:40] rolandoldengarm opened #49 "Link to Cordova does not work"
On the homepage:

Instructions on using it for Cordova apps is also on the (wiki)[https://github.com/axemclion/browser-perf/wiki/Setup#wiki-cordova-applications]

This link does not work though.

It is here: https://github.com/axemclion/browser-perf/wiki/Setup-Instructions

[2016-01-20 23:01] rolandoldengarm opened #50 "Can't get it to work on Android + Cordova"
First of all, great tool! However, I'm stuck.
I'm following (this guide)[https://github.com/axemclion/browser-perf/wiki/Setup-Instructions#testing-mobile-cordova-webviewhybrid-applications] and it does not work.
I've started Chromedriver 2.20 in one console, and running browser-perf in another window. The app is starting, but then stops immediately. In the chromedriver log I see this:

[code]
And,

[2016-01-21 00:17] axemclion commented on #12
@developit @dkozma Thanks for verifying. I added a .gitattributes, so this should not be a problem anymore

[2016-01-27 09:05] dvotion commented on #47
Hi Axemclion,

It's been a while but still experiencing the issue. When removing the mentioned promise in the start & stop action for the waitforlogcat everything goes fine.

Is it possible to build a flag in the configuration of browser-perf so we can choose if we skip this wait or not? Would be great and solve a lot.

gr. Dennis

[2016-01-27 09:09] dvotion opened #51 "What is the difference between "framesPerSec_raf" and "framesPerSec (devtools)""
How does these 2 seemingly the same metrics, "framesPerSec_raf" and "framesPerSec (devtools)", gets calculated? When running the browserperf I get different values of these 2 metrics, but they seam to be the same subject. I'm curious why they are different and which one to use as the real fps value.

Thanks :)

[2016-01-27 14:44] sridharangopal opened #52 "How do I include Proxy information into the usage to be able to get out of the corporate network and be able to hit Sauce Labs?"
This looks like a great tool to add to our CI but running into one small issue using it.
How do we include Proxy information into the usage to be able to get out of the corporate network and be able to hit Sauce Labs?

[2016-01-27 15:53] axemclion commented on #52
@sridharangopal I would suggest using [sauce connect](https://wiki.saucelabs.com/display/DOCS/Setting+Up+Sauce+Connect) for achieving this. You should be able to find more information about testing internal sites on the saucelabs website.

[2016-01-27 15:53] #52 closed

[2016-01-27 15:59] axemclion commented on #51
In fact, there are 3 FPS metrics, each calculated in different ways
- framesPerSec_raf: This is calculated using requestAnimationFrmae. This is usually the most inaccurate, but works of other browsers too. With the latest versions of Chrome, Chrome tries to call this method at regular intervals. As a result, it may not accurately correspond to when a frame is drawn.
- framesPerSec (devtools) - thi

[2016-01-27 15:59] #51 closed

[2016-01-27 16:01] axemclion commented on #47
However, if we do not wait for logcat, we may run into timing issues. I think this is just a symptom and it may be worth looking deeper into the reason why it does not work.

Could you help me locate where the tracefile is your android device ? We could have an environment variable that specifies the file location instead of a flag since I am hoping that this is not a common issue.

[2016-01-28 15:19] dvotion commented on #51
Thank you for your answer! Very useful information

[2016-01-28 15:21] dvotion commented on #47
Okay, will look into it. Very busy schedule momentarily, I'll come back to you with the new findings

[2016-01-29 14:22] dvotion opened #53 "How to use browser-perf / protractor-perf in a single page application"
Hi,
What is the best way to use browser-perf/protractor-perf in a single page application? When running a protractor file in a SPA it would be nice to get the loading time without the protractor / webdriver overhead to execute commands. Maybe create a custom probe/metric which injects a window.performance.now() command?

gr. Dennis

[2016-02-01 00:33] axemclion commented on #47
I dug into this a little more and found that the tags used in logcat that indicate when logging has started, or where the log file is located is now different. So, in (this commit](https://github.com/axemclion/browser-perf/commit/f982715dde7736181f15e2c7b3115eb8e7e128f3), I simply look at all of logcat to locate the info.

I have not yet pushed this to npm, but can you test this change ? YOu could

[2016-02-01 00:34] axemclion commented on #47
Also note that as a result of this change, I am trying to get frames_per_sec using `DrawFrames`. This looks like a crazy high value, possibly due to an error. Looking into that now.

[2016-02-01 00:36] #49 closed

[2016-02-23 15:40] jimusbobus opened #54 "Browser perf cli/runner"
Hi
I have been using your tool for a few days now and am finding it great, If possible i would like to know how to get the same/similar results from the different methods, for example

1. When i run via the cli i can add the --all argument and get loads of stats, but when i run a default setup (or use  metrics: ['TimelineMetrics', 'ChromeTracingMetrics']) in the runner I get a significantly lower

[2016-03-08 23:02] abhagupta commented on #38
I am getting the same issue. My app is just  a plain html, which opens up fine in firefox. I am running selenium server on my local machine.  The test runs fine in FF but not in Chrome . My Chrome version is latest - 48.x .  Please help.

[2016-03-09 01:55] axemclion commented on #38
@abhagupta Are you able to simply launch the selenium scripts and get the browser working ?

[2016-03-10 17:11] jimusbobus commented on #54
never mind, seems i was accessing the browser too quick, trying to do a few things not just 1 action.  successfully using browserperf.runner now :)

[2016-03-10 17:11] #54 closed

[2016-03-10 20:29] axemclion commented on #50
@rolandoldengarm Are you still having a problem with the latest release ? If yes, I plan to look at it during this weekend.

[2016-03-10 20:29] axemclion commented on #53
@dvotion I think this heavily depends on the type of SPA that you have. One way I run it is have a single function that does all the interaction, and run a single execute them for them.

Is there a particular scenario that you have in mind >

[2016-03-10 21:03] rolandoldengarm commented on #50
@axemclion I'll follow up next week, not working on the project right now.

[2016-03-10 22:05] axemclion commented on #50
@rolandoldengarm Thanks - and sorry for the delay in getting back to you.

[2016-03-11 05:28] dvotion commented on #53
@axemclion I tested protractor thoroughly by comparing it to video recordings and researched it a lot. What I found out is that Protractor adds a lot of overhead during the test, it varies from 35% to 160% in some cases. I've read somewhere that Protractor monitors the application and waits for it to be stable, this case shows up a lot when testing on a mobile device. Which is logically because a

[2016-03-11 15:53] mwq27 opened #55 "How to use browser-perf.Runner with Selenium running in Java program?"
Is this possible at the moment?  I know it can work with Protractor, but what if our selenium tests are all written in Java and run with the ChromeDriver there?

[2016-03-14 23:29] axemclion commented on #55
@mwq27 This is certainly possibly. All you would have to be is start the tests using selenium, get the sessionID from selenium and pass it browser-perf.
You would then invoke browser-perf commands.

Here is an example - https://github.com/axemclion/protractor-perf/blob/master/lib/index.js

[2016-03-14 23:29] axemclion commented on #55
Closing this with the hope that this answers your question. If not, please reopen the issue.

[2016-03-14 23:29] #55 closed

[2016-03-14 23:30] axemclion commented on #47
This should be fixed with the latest release.
Closing the issue. If not, please reopen.

[2016-03-14 23:30] #47 closed

[2016-03-15 16:58] mwq27 commented on #55
The part I'm confused about is passing the sessionID from Java to browser-perf.  Could you explain a little more?

Thanks

[2016-03-15 23:32] axemclion commented on #55
Basically, we need to connect browser-perf to selenium to fetch performance logs. For this, we would need the same sessionID that your java code got when it started the browser. Selenium lets any client to "attach" to an existing session and send commands - thats what browser-perf would do.

Thus, you would have to

1. From `browser-perf`, write the [additional capabilities](https://github.com/axe

[2016-03-16 01:21] mwq27 commented on #55
Alright thanks for explaining.  I need this process to be more automated and was hoping to just attach to our Selenium tests in Java, but it looks like this is more of a manual process.  Looks like we'll just have to write some new scenarios specific to performance testing in Javascript instead of node.

[2016-03-16 01:29] axemclion commented on #55
Alternatively, you could also get perf logs in Java and pare that in Java. You would have to write Java code for that though.

[2016-03-16 01:32] mwq27 commented on #55
So far, i've exported all of the perf logs from the java tests to an external file, and edited the browser-perf code to read from that file in the perfProbe.  But this doesn't seem like a long term solution, and also doesn't give me the nav timing data, since it looks like that gets calculated in the NavTimingProbe.

[2016-03-16 02:37] axemclion commented on #55
Actually, navTiming is probably easier, if that is all you are looking for. In Java, simply executeScript to evaluate `window.performance.timing` and then pick up the results !!

[2016-03-22 16:53] bigbadleroybrown opened #56 "QUESTION - Automated browser testing on iOS device"
Am I able to automate safari performance using 'browser-perf'?
Specifically is it possible to use 'browser-perf' to show the 'DomContentLoadedEvent' and 'CompleteLoad' events multiple times from several sites, i.e. each site would be reloaded 50 times, and each time, record the 'DomContentLoadedEvent' and 'CompleteLoad' events (both kilobytes and time to event).

[2016-03-22 18:18] axemclion commented on #56
It is possible to do so. However, browser-perf only returns one event every run, so I suggest running browser-perf 50 times. This way, you will also not be impacted by browser optimizations like caching, etc.

[2016-03-22 18:18] #56 closed

[2016-03-22 18:24] bigbadleroybrown commented on #56
Ok thanks for the quick response!

Two more QQ's:
1. Is browser-perf built on top of Appium, and subsequently, will be required to be installed first?
2. Will browser-perf show these metrics (DomContentLoaded and LoadEvent) out of the box for each site?

[2016-03-23 02:01] axemclion commented on #56
@bigbadleroybrown Browser-perf is not really built on top of Appium. However, it does require Selenium or Appium to get metrics. Note that it also need a browser that is driven by selenium.

The 2 metrics are a part of networkMetrics, and are always available for each page navigation.

[2016-05-10 19:23] iwiszhou opened #57 "browser-perf not working (MAC)"
Hi,

I just follow the tutorial and get the following error. (https://github.com/axemclion/browser-perf/wiki/Setup-Instructions#testing-desktop-browsers-locally)

I can install the browser-perf successfully. and I also can start Chromedriver with selenium using java -jar selenium-server-standalone-2.40.0.jar -Dwebdriver.chrome.driver=chromedriver.exe without any error. However, when I execute brow

[2016-05-10 19:35] axemclion commented on #57
Are you able to connect to the selenium server ? You could use something like [wd](https://github.com/admc/wd) to test it out.

Run `npm install wd -g` and then open the wd shell using `wd shell`. In that REPL shell, you could run

`var b = wd.promiseRemote('http://localhost:4444/wd/hub'); b.init({browserName:'chrome'}) ` and see if that connects

[2016-05-10 20:26] iwiszhou commented on #57
$ wd shell
(wd): var b = wd.promiseRemote('http://localhost:4444/wd/hub'); b.init({browserName:'chrome'})
{ state: 'pending' }
(wd):

it seems it is keeping waiting.... Did I config something wrong ?

[2016-05-10 22:17] axemclion commented on #57
When you did b.init(), did it open Chrome ? You should also add a log statement, to see the effect of the statement

[code]

[2016-05-11 13:41] iwiszhou commented on #57
It seems I can't run the chrom via the command line?

$ wd shell
(wd): var b = wd.promiseRemote('http://localhost:4444/wd/hub'); b.init({browserName:'chrome'}).then(console.log.bind(console), console.log.bind(console));
{ state: 'pending' }
(wd):{ [Error: [init({"browserName":"chrome"})] The environment you requested was unavailable.]
  data: '{"state":"unhandled error","sessionId":null,"hCode":12

[2016-05-11 13:53] #57 closed

[2016-05-11 16:05] iwiszhou opened #58 "How to get 'cfg' in preScript function?"
Hi,

How can I access to 'cfg' object inside the preScript function ? (https://github.com/axemclion/browser-perf/wiki/Node-Module---API#prescript )

********** Example **********
Here is the simple options object I created.

var options = {
	selenium: 'http://localhost:4444/wd/hub',
    browsers: ['chrome'],
    preScript: function(browser) {
        return browser.get(**cfg**.page).then(function(

[2016-05-11 18:09] axemclion commented on #58
Looks like that was an error in the documentation. I fixed it now. You cannot call cdf obkect. Since this is a script that you write, you could refer to it in your script, without really needing a `cfg` object.

[2016-05-11 18:09] #58 closed

[2016-05-11 18:50] iwiszhou commented on #58
for the new documentation, "browser.get('www.example.com')". However, how can I reference back the website I defined in browserPerf function. I think we should browser.get( the site we passed in browserPerf function) ?

browserPerf('http://mysite.com', function(err, res) {
    // res - array of objects. Metrics for this URL
    if (err) {
        console.log('ERROR: ' + err);
    } else {

[2016-05-11 22:28] axemclion commented on #58
Can those not be saved in a variable and passed in twice ?

[2016-05-12 14:23] iwiszhou commented on #58
Hum...that may be not the case I want to test.

Let's say I have 2 page. Page 1 just introduction about my site. Page 2 is a login page with "Login" button. In page 1, there is a button "GO TO PAGE 2" will navigate user to Page 2, and login into the system.

Okay, now I want to test the button click "GO TO PAGE 2", then click "Login" button on Page 2.

If I called browser.get("http://mysite.com"),

[2016-05-12 15:40] axemclion commented on #58
In this specific case, you can pass null as the URL to `browserPerf('perf', {})`. This way, the only navigation will be on the preScript. Once the preScript is finished, there is no navigation.

[2016-05-12 16:04] iwiszhou commented on #58
I just tried. I got the following error..

**_ERROR PRINT OUT IN CONSOLE_**:
ERROR: Error: [get("perf")] Error response status: 13, UnknownError - An unknown server-side error occurred while processing the command. Selenium error: unknown error: unhandled inspector error: {"code":-32603,"message":"Cannot navigate to invalid URL"}
  (Session info: chrome=50.0.2661.94)
  (Driver info: chromedriver=2

[2016-05-12 18:13] axemclion commented on #58
The URL passed should be null. This code works

[code]

[2016-05-12 20:28] iwiszhou commented on #58
Do you mind to add an "browserPerf.actions.login" example for perScript?

I tried using it in side the perScript without any luck....

I tried something like, no sure it is the correct approach....
preScript: function(browser) {
        return browser.get(testWebSitUrl).then(function() {
            console.log('Find sign in in mysite');
            return browser.elementByCssSelector('.signin-btn

[2016-05-12 20:45] blefebvre commented on #50
Hi @axemclion, I'm running into a similar issue with the following environment:

- browser-perf 1.4.5
- chromedriver 2.21.371459
- adb 1.0.32
- PhoneGap CLI 6.2.1
- Nexus 5 running Android 5.0.1

To reproduce:
- clone my test repo: https://github.com/blefebvre/pg-app-perf
- build the app once, installing it on a connected Android device: `phonegap run android --device`
- start chromedriver: `./chr

[2016-05-13 14:50] hypery2k opened #59 "The environment you requested was unavailable"
If the selenium grid is not available you get the following misleading error:
[code]

[2016-05-13 14:50] hypery2k commented on #59
see https://github.com/admc/wd/blob/v0.4.0/lib/webdriver.js#L129

[2016-05-16 16:20] blefebvre commented on #50
In looking a bit closer at the logs it appears that mine is in fact a different issue. If you'd prefer that I file a separate issue for it @axemclion, just let me know.

[2016-05-16 16:35] axemclion commented on #50
@blefebvre Sure - I was planning to investigate the entire Android issue sometime this week.

[2016-05-16 19:01] axemclion commented on #59
@hypery2k What do you think would be the best solution to this ? This is also the same error that you get if you don't have the browser.

I am not sure how best to solve this issue - are you suggesting that we need a better error message ?

[2016-05-17 03:51] hypery2k commented on #59
I propose some change for improved error handling. Take a look. Some of the tests are failing, but i'm not sure why

[2016-05-17 04:10] axemclion commented on #59
@hypery2k Will this only happen when you are not able to reach the selenium server? In other cases (like trying to test IE on Mac), will the error be different ?

[2016-05-17 04:15] hypery2k commented on #59
the error will currently only appear if the grid connected is refused. So you only be if not reaching the selenium server

[2016-05-17 04:54] axemclion commented on #59
In the error message, should we say - could not reach the "selenium server" instead of "grid" ?

[2016-05-17 05:12] hypery2k commented on #59
yes you're right ;)

[2016-05-17 17:26] blefebvre opened #61 "Action never completes with Cordova app running on Android"
When running a browser-perf test via the Node API targeting Android hardware, my test action never appears to be fired and the action eventually times out.

Environment:

browser-perf 1.4.5
chromedriver 2.21.371459
adb 1.0.32
PhoneGap CLI 6.2.1
Nexus 5 running Android 5.0.1

To reproduce:

- clone my test repo: https://github.com/blefebvre/pg-app-perf
- build the app once, installing it on a conne

[2016-05-17 17:28] blefebvre commented on #50
Thanks @axemclion, I've logged https://github.com/axemclion/browser-perf/issues/61.

[2016-05-20 09:29] joakin opened #62 "Can't read profile data on Android device: Error: ENOENT: no such file or directory, open 'chrome-profile-results-..."
Hi!

I'm trying to benchmark a wikipedia page on my android device. When running

[code]

With conf.js being:

[code]

...having chromedriver running, I get a new browser window that loads the page, I see a toast that notifies of the start of the profile recording, the page scrolls to the bottom, and I see a notification about the profile finished recording.

Then on my local machine I get the fol

[2016-05-20 09:34] joakin commented on #62
Here's the log with `--verbose` https://gist.github.com/joakin/1bd3b2aa2a86e73cedb4df86bc855cfe

[2016-05-24 02:06] axemclion commented on #62
@joakin I ran this with
`browser-perf https://en.m.wikipedia.org/wiki/Barack_Obama --selenium=localhost:9515 --browsers=android` and I was able to see all the data. I am on

- Android 5.1.1
- Chrome 48.0.2564.95

Could this be due to a version mismatch ? Can you see if you have a file called `/sdcard/Download/chrome-profile-results-2016-05-20-093039` that was created on the device ?

[2016-05-24 02:12] axemclion commented on #62
@joakin Can you also add adb logs from the test runs ? That will tell us if there is a file that gets created.

[2016-05-24 02:30] axemclion commented on #61
@blefebvre Looks like this is related to https://github.com/axemclion/browser-perf/issues/14. Due to a bug, looks like the code is trying to get `adb logcat` even for Android, which it should not.

[2016-05-24 02:46] axemclion commented on #61
@blefebvre Btw, nice talk at PGDay EU.

[2016-05-24 02:47] axemclion commented on #61
You don't even need to wait for taps and clicks, you could technically navigate to the slow page (or the fast page) and run the tests.

[2016-05-24 02:51] axemclion commented on #61
I ran the tests now and they run. Closing the issue now.

[2016-05-24 02:51] #61 closed

[2016-05-24 02:52] axemclion commented on #59
@hypery2k I fixed the name, and merged your PR. Thanks a lot for that. Closing this issue.

[2016-05-24 02:52] #59 closed

[2016-05-24 02:52] axemclion commented on #50
@rolandoldengarm I fixed this https://github.com/axemclion/browser-perf/commit/60477662c950913855460a6d1879920afa703d21. Closing this issue. If you still have this issue, please reopen.

[2016-05-24 02:52] #50 closed

[2016-05-24 08:19] joakin commented on #62
I've just tried, there is no `/sdcard/Download/chrome-profile-results*` on the device after a run with the same error

[code]

No luck.

Manually `adb pull`ing files from the device works:

[code]

I'm going to find out how to get the adb logs and I'll post back.

[2016-05-24 08:36] joakin commented on #62
I've run `adb logcat` and run the test again, the relevant portion of the log I'm pasting below, it seems like it can't open `/storage/emulated/0/Download/...`

Which is weird since I've downloaded files recently from my Chrome sessions. I'm going to try and download stuff manually from the browser after a run (with the clean profile and logged out).

[code]

[2016-05-24 08:45] joakin commented on #62
Okay, so here's something weird. After I run the test and it fails, I go to the Chrome app that was open by the test, and I try to download barack's image, and it prompts me with the permissions dialog for storage access.

![screen shot 2016-05-24 at 10 40 25](https://cloud.githubusercontent.com/assets/657839/15497717/533432d2-219c-11e6-9336-9273df71c372.png)
![screen shot 2016-05-24 at 10 40 46](

[2016-05-24 15:04] axemclion commented on #62
This could either be an issue with Android 6.0 permissions, or with the way your storage is configured. Let me see if I can get my hands on an Android 6.0 device and try running this.
In the meantime, what are the permissions on your sdcard storage device ?

[2016-05-25 02:59] axemclion commented on #62
I finally got my hands on an Android 6.0 device, and looks like this is an issue with the permissions for the app. If you go to Settings > Apps > Chrome and look at the permissions, Chrome does not have __Storage__ permissions. This is the reason the log trace file is not written.
I am now investigating ways to make Chrome have storage permissions by default.

[2016-05-25 03:19] axemclion commented on #62
So, looks like we need to run

[code]

before starting to collect the trace files. I will look at adding this to the code. I am still noticing that the framerates are around 120 - looks like something is being double counted. Will look into that next.

[2016-05-25 04:28] axemclion commented on #62
@joakin I fixed this bug, and release browser-perf@1.4.7.

I also tried it on my android device and it works good. Closing the issue as fixed. Please reopen if you still have trouble.

[2016-05-25 04:28] #62 closed

[2016-05-25 08:28] joakin commented on #62
@axemclion Awesome! I just tried it and it worked great.

I'm not seeing weird fps numbers, below 60 for me on that example ([output](https://gist.github.com/joakin/c900fae8eddc57d95ceedeb1892aac80))

Thanks a lot!

[2016-05-25 18:26] blefebvre commented on #61
Verified that version `1.4.7` works perfectly. Thanks @axemclion, will update my PGDay repo to reference this version and include test suites that target Android. No worries at all about the timing, I should have raised the issue sooner. Cheers!

[2016-05-26 07:42] bcole opened #63 "1.4.7 Release breaks protractor-perf: browserName undefined"
With the latest release of browser-perf@1.4.7, protractor-perf now breaks on start:
[code]

This is the commit that introduced `browserConfig` (which protractor-perf passes as undefined):
https://github.com/axemclion/browser-perf/commit/c1e6fe31190eb5ce866111be19c4587d5a0af010#diff-a0ccdc8e7313c6606025128061a22cc0
Since it is undefined, we cannot access .browserName.

The error is at `lib/probes/A

[2016-05-26 13:00] caffinatedmonkey opened #64 "Viewer"
Collecting this data is great, but are there ways to view it besides a table?

[2016-05-26 14:36] blefebvre commented on #64
@caffinatedmonkey check out perfjankie for an idea of how this data can be stored and graphed over time.

https://github.com/axemclion/perfjankie

[2016-05-26 14:37] axemclion commented on #64
browser-perf is available as a Node module, so you could also consume it and get JSON data that can be used to graph it in a way you need.
Here are also some examples that use perjankie to view the data - http://web-perf.github.io.

[2016-05-26 14:37] #64 closed

[2016-05-26 14:38] axemclion commented on #63
@bcole Thanks for catching the error. I think I will fix this error and release a new version.

[2016-05-26 15:25] bcole commented on #63
Thanks for the quick reply!  Could you look into `helpers.js:26`?  That is still causing an undefined exception.  I think "global" itself is undefined, but you may have to debug a bit more.

New stack trace:
[code]

[2016-05-26 16:05] axemclion commented on #63
@bcole Can you send me your configuration, so that I can look at what exactly is failing ?

[2016-05-26 18:00] bcole commented on #63
If global is not an object, 'return false' will not get executed.  The second condition would get executed.  I think your logic might be backward, perhaps you meant !== object.
https://github.com/axemclion/browser-perf/commit/8f11880b6e45233036abcc3fba492ca7802ebaef

I can't share my configuration, we have a private project.  It is a very standard usage of protractor-perf@0.2.1 though.  Do you hav

[2016-05-26 18:55] axemclion commented on #63
@bcole I see what you are saying. Made some more changes, and wrote more tests for deepEquals - http://codepen.io/axemclion/pen/yJBGye?editors=0012

Can you add in your browserConfig and see if this still throws an exception ?

[2016-05-26 20:53] bcole commented on #63
@axemclion I took a look at the callback within lifeCycle (AndroidTracingProbe.js:46) to see what 'browser' and 'browserConfig' are being set to, via protractor-perf.  protractor-perf seems to always set 'browserConfig' to undefined, and 'browser' to a large object.

Code (AndroidTracingProbe.js:46):
[code]

browserConfig:
[code]

browser:
[code]

--

Looks like you have a test case for `undefined

[2016-05-26 23:13] axemclion commented on #63
The browserConfig change was new - it is supposed to be the initial configuration that is passed. I may have to update protractor-perf to also send in this object, since it fixes #61. If browserConfig is empty in protractorPerf, it may have #61 issue.

[2016-05-26 23:13] axemclion commented on #63
Closing this issue, since this is fixed in browser-perf.

[2016-05-26 23:13] #63 closed

[2016-06-07 18:55] axemclion commented on #53
Looks like this issue is solved - thus closing it. Please reopen if this is still an issue.

[2016-06-07 18:55] #53 closed

[2016-06-12 12:10] drywind opened #66 "browser-perf@1.4.7 VS1.4.6 has a new issue"
when i used browser-perf@1.4.7 version,i can't get the perfmance data,you can follow below step to confirm this issue:
win7@32 bit
android chrome apk installed in android devices

error info:[TypeError: Cannot read property 'code' of undefined]

[2016-06-12 18:27] axemclion commented on #66
@drywind Can you set the environment variable `DEBUG=*` and run the tests ? Can you also copy the logs here ? May help with debugging. I do not have a Win7 machine, but this could be a problem on other OS also.

[2016-06-24 07:17] drywind commented on #66
D:\node\MyNodeProject\browser-perf>mocha ./test_on_hwb_youtube.js
  mocha:suite bail undefined +0ms
  mocha:suite enableTimeouts true +16ms
  mocha:suite bail undefined +0ms
  mocha:suite timeout 2000 +421ms
  mocha:suite retries -1 +0ms
  mocha:suite enableTimeouts true +0ms
  mocha:suite slow 75 +0ms
  mocha:suite bail undefined +0ms
  mocha:suite timeout 2000 +0ms
  mocha:suite retries -1 +0ms

[2016-06-24 07:28] drywind commented on #66
it's very surprise,when i use chrome dev version,it(browser-perf version@1.4.7) runs well .
D:\node\MyNodeProject\browser-perf>mocha ./test_on_hwb_youtube.js
  mocha:suite bail undefined +0ms
  mocha:suite enableTimeouts true +0ms
  mocha:suite bail undefined +15ms
  mocha:suite timeout 2000 +439ms
  mocha:suite retries -1 +0ms
  mocha:suite enableTimeouts true +0ms
  mocha:suite slow 75 +0ms
  mo

[2016-06-24 07:33] drywind commented on #66
Below logs were outputed by browser-perf version @1.4.6,may this do you a favor.

D:\node\MyNodeProject\browser-perf>mocha ./test_on_hwb_youtube.js
  mocha:suite bail undefined +0ms
  mocha:suite enableTimeouts true +4ms
  mocha:suite bail undefined +6ms
  mocha:suite timeout 2000 +432ms
  mocha:suite retries -1 +1ms
  mocha:suite enableTimeouts true +0ms
  mocha:suite slow 75 +1ms
  mocha:suite b

[2016-06-24 10:58] axemclion commented on #66
@drywind I just added a fix and pushed 1.4.10. Can you check now please ?

[2016-06-26 00:30] axemclion commented on #66
@drywind Closing this issue since this should be fixed. If not, can you please reopen the issue ?

[2016-06-26 00:30] #66 closed

[2016-07-01 02:30] knreddy036 commented on #22
How to kill all the opened safari windows before launching safari browser on iPhone devices using appium

[2016-08-03 07:56] Darkoon commented on #50
I got exactly the same problem as @rolandoldengarm . Running on browser-perf 1.4.11.

[code]

[2016-08-03 14:53] axemclion commented on #50
@Darkoon Are you still getting this error ? Can you paste in the full log ? What site are you running it against ?

[2016-08-04 06:07] Darkoon commented on #50
I'm still getting it for this config file: https://github.com/axemclion/browser-perf/blob/master/test/res/android-hybrid.config.json (with modified androidActivity and androidPackage ofc). I start my AVD and run chromedriver.exe (ver. 2.22, starts listening on port 9515). Then I go to platform-tools in android sdk and go with command: adb server-start. At last I use: browser-perf --config-file=con

[2016-09-03 17:24] jsdevel commented on #38
I'm getting this as well.  how can I help in debugging the issue?

[2016-09-03 19:46] axemclion commented on #38
@jsdevel Can you send in the logs ? Also, can you run any selenium tests with that config ?

[2016-09-03 23:56] jsdevel commented on #38
Sure.  Would logcat and appium suffice?

[2016-09-04 01:02] axemclion commented on #38
@jsdevel Yup, it would. If you are able to connect via appium using node code, and if browser-perf seems to have a problem - that would indicate that we need to fix browser-perf.
Else, there could be something about the configuration that is the issue.

[2016-09-08 16:25] CMatias opened #68 "Unable to select elements when running on Android device"
Hey, I'm running browser-perf to test an Ionic application with my Android phone. Here's the file I'm running:

[code]

I'm selecting all elements and printing the first one and I'm getting something like this:

[code]

Is this expected behaviour? I tried a number of different selectors for my application and nothing ever hits.

Any help would be appreciated.

[2016-09-09 12:17] andrewrota opened #69 "Add speedIndex metric"
The [RUM SpeedIndex](https://github.com/WPO-Foundation/RUM-SpeedIndex) metric calculates speedIndex (an indexed value representing the average time at which visible parts of the page are displayed) from resource timings.  Is this something that browser-perf would be interested in adding as a builtin metric?

I have an initial implementation [here](https://github.com/andrewrota/browser-perf/commit/

[2016-09-09 19:06] axemclion commented on #69
👍 Awesome - adding speed index would be great. Could you send a PR and we could colloborate over that ?

[2016-09-19 14:42] CMatias commented on #68
I've been able to solve my problem. Please close this :)

[2016-09-19 17:41] axemclion commented on #68
@CMatias Thanks. It would also help others if you are able to post how you fixed this.

[2016-09-19 17:41] #68 closed

[2016-09-19 18:36] CMatias commented on #68
@axemclion I was expecting the logging on the console to give some information about the object being selected besides the logging of the element value. When I couldn't navigate in my app I thought I was just doing something wrong. Eventually I tried again and was able to do it.

 In my specific case I was trying to select an element of an Ionic application with a specific attribute:

´´´
<a icon-

[2016-09-27 14:48] usherfu opened #71 "How to performance of multiple steps?"
Currently I am trying to integrate browser-perf with our CI pipeline.  I have following questions and appreciate if anyone could give some advises:

The scenario is that end user will navigate on our web app multiple consecutive steps, e.g. navigate to the app, fill out search criteria, click "search" button, select one result from the list to navigate to the item detail, click edit button and etc

[2016-09-28 01:35] axemclion commented on #71
Answering your questions

1. The metrics that are collected are for the entire duration of the test. It is the equivalent of click *Start Profiling* in the timeline, performing the actions and then *Stop Profiling*

2. For measuring the scripts separately, you would have to manually call `browser.log("performance")`. That returns a promise with all the timeline data. This is exactly what webpagete

[2016-09-28 01:35] #71 closed

[2016-09-30 13:49] usherfu commented on #71
@axemclion
Thanks for the feedback. I spent sometime trying to investigate different way of taking measurement.  The example scenario below is  to navigate to google.com, type some keyword, and then click on go button.  And I'd like to measure only the step of "click GO button".  I created following two scripts:

As you can see from below code, the only difference is that in "WithPrescript" case,

[2016-10-13 15:13] Darkoon opened #72 "Problem starting browser-perf with Cordova app."
Hello!
Following instructions from https://github.com/axemclion/browser-perf/wiki/Setup-Instructions#testing-mobile-cordova-webviewhybrid-applications I started ChromeDriver and then tried to start browser-perf with config:
`{
    "selenium": "localhost:9515",
    "browsers": [{
        "browserName": "android",
        "chromeOptions": {
            "androidActivity": "com.me.MyApp.MainActivity",

[2016-10-13 15:31] axemclion commented on #72
Are you able to run selenium with Cordova ?

[2016-10-13 15:35] Darkoon commented on #72
I tried to set up selenium and passing it's socket to config, but still it fails to do anything. Description above is connected with your setup instructions.

[2016-10-13 16:47] axemclion commented on #72
The error is here "The environment you requested was unavailable". You don't need full selenium, Chromedriver should do. We need a way to see if we can connect chromedriver and do stuff with Cordova. Only if ChromeDriver can attach to the app can browser-perf even kick in.

Are you able to connect to the webview using chrome dev tools ?

[2016-10-14 11:47] Darkoon commented on #72
I added chromeDriver localization in PATH and managed to try running browser-perf with android emulator. Result was pretty similar to the last posted one (app started but crashed after a while), but this time logs were different:
[code]

Answering your question: Yes I can access webview of emulated app and app on my mobile device. There are no problems with chrome dev tools.

[2016-10-14 16:00] axemclion commented on #72
For the error above, can you send me the exact set of capabilities that were sent to Chromedriver ? for more information, you could set and environment variable called `export DEBUG=*`.

[2016-10-15 16:25] datrinh opened #73 "No ChromeTracingMetrics results for my custom action"
Hi,

I'm loading an app and wait in the prescript. During the waiting time I manually upload files to the app (sendkeys() doesnt seem to work on android). Afterwards a button is clicked in the actions script which starts a heavy computation. I get no results for it tho. Anyone know what's wrong with my approach?

my current code:

[code]

[2016-10-16 02:24] axemclion commented on #73
Is this only for Android, or do you see this for Chrome also ? Note that on case of Android, the data is picked up from adb log. Can you set `export DEBUG=*` and see what the logs say ?

[2016-10-16 10:04] datrinh commented on #73
Where do I set `export DEBUG=*`?

[2016-10-17 00:40] axemclion commented on #73
@datrinh That should be an environment variable. Will also work for a node module.

[2016-10-17 09:19] datrinh commented on #73
This is the output:
[code]

[2016-10-18 10:40] Darkoon commented on #72
All I was able to do is get logs from chromedriver. After a try it generated nearly 8k lines of logs with some specific action listed. I don't know which piece of it will be usefull to solve problem. Lines connected with error:
`[716.568][DEBUG]: Sending adb command: host:transport:emulator-5554|shell:am force-stop com.me.MyApp
[716.893][DEBUG]: Received adb response:
[716.893][SEVERE]: unknown er

[2016-10-18 10:45] datrinh commented on #73
So any way to fix this? I have to finish my work very soon and would need to do those tests manually if this doesnt work :/

[2016-10-19 22:01] axemclion commented on #73
@datrinh Looks like there is no activity that happens when the script runs. Is the webpage also public so that I can take a look ?

[2016-10-23 00:32] jahnavi310 opened #74 "TypeError: cb is not a function"
I am trying to use browser-perf to read the data using browser-perf:

this is what i have:
i have all the urls stored in a file so before executing the following function:
[code]
, i am reading all of them one by one from the file

but the console.log(url) does not execute as expected because it seems like this returns a promise, it just times out, any idea how to resolve this issue?

This is what

[2016-10-23 21:45] jahnavi310 commented on #74
@axemclion: ^^

[2016-10-25 15:31] axemclion commented on #74
@jahnavi310 `self.test(url)` here returns a promise. It should return a function, and could be like

[code]

[2016-10-25 15:31] #74 closed

[2016-11-21 22:31] imranansari commented on #59
is this merged into 1.4.11 ?, I'm getting the same error

[2016-11-21 23:33] axemclion commented on #59
@imranansari  Are you able to run this with just selenium ? Can you set `DEBUG=*` as environment variable, and see what the logs say ?

[2016-12-09 04:26] khanhlhq opened #75 "JavaScript heap out of memory"
Hi,
When I used this module, I got an error. Would you have the solution for this?

<--- Last few GCs --->

[9339:0x102804600]    22552 ms: Mark-sweep 1117.8 (1135.4) -> 862.8 (880.4) MB, 263.7 / 0.0 ms  allocation failure GC in old space requested
[9339:0x102804600]    22848 ms: Mark-sweep 862.8 (880.4) -> 862.8 (880.4) MB, 295.5 / 0.0 ms  allocation failure GC in old space requested
[9339:0x1028

[2016-12-27 13:56] SunboX opened #76 "browser-perf fails with cordova-plugin-crosswalk-webview"
If I'm running a hybrid Cordova app using the `cordova-plugin-crosswalk-webview` plugin, browser-perf fails with `"chrome not reachable\\n  (Driver info: chromedriver=2.27.440174 (e97a722caafc2d3a8b807ee115bfb307f7d2cfd9),platform=Windows NT 10.0.14393 x86_64)"`

If I'm building the app without `cordova-plugin-crosswalk-webview`, browser-perf works as expected.

If I have `cordova-plugin-crosswalk

[2016-12-27 20:14] axemclion commented on #76
Thanks for reporting this issue. I think the trick here is to see how we can connect selenium to crosswalk.

[2017-01-09 16:46] pedro93 opened #77 "namespace.charCodeAt is not a function"
Hello,
I was attempting to test this project but got the following error after installing everything.

[code]

I am running a local selenium hub instance (v3.0.1) accessible at http://localhost:4444/wd/hub
Node version: v7.4.0
OS: El Capitan (10.11.6)

Thanks for taking the time to read this :)

[2017-01-09 21:04] jahnavi310 opened #78 "maxInstances support?"
Hey,

Does this support the maxInstances property to run multiple instances of the browser?

Thanks,
-Jahnavi

[2017-01-10 17:25] jahnavi310 opened #79 "Browser-perf in a for loop returning a promise."
Hi there,

I keep on getting the following error:

[code]

The issue here is that the browser-perf code as below:

[code]

is in a for loop that is returning a promise, so if that error shows up the entire process halts and exits inspite of that page being totally fine.

Any idea how to prevent this?

[2017-01-10 18:16] axemclion commented on #77
@pedro93 Thanks for reaching out and submitting the bug. We already log the error, so I guess we can remove [this statement](https://github.com/axemclion/browser-perf/blob/master/lib/cli.js#L37)

[2017-01-10 18:16] #77 closed

[2017-01-10 18:21] axemclion commented on #79
I don't this this is an issue with `browser-perf`. Can you elaborate on the loop that you mention? This looks like an error caused when browser-perf is trying to get the Chrome timeline. Apparently the timeline is huge, and I have seen Java run out of heap space when trying to read the logs and send over the wire to browser-perf. Increasing the Java heap space, or running chromedriver directly has

[2017-01-10 18:22] axemclion commented on #78
Do you have a reference to the maxInstances property? If it can be passed as a capability, I guess it can be used.

[2017-01-10 20:41] jahnavi310 commented on #79
Let me try passing in the chrome driver directly and see if that resolves the issue.

[2017-01-10 20:43] jahnavi310 commented on #78
so, i was referring to the maxinstances property that the protractor.conf file has, can that be incorporated in the config for browser-perf?

I am mainly trying to achieve running the performance tests in parallel for different urls so that it will make the process more faster.

Currently i have the urls stored in a .txt file from where it picks them up, reads them, performs the performance test,

[2017-01-11 15:14] jahnavi310 commented on #79
[code]

the above is the for loop, but for certain urls it keeps on running out of heap space. also i cannot run the chromedriver directly because this runs on a selenium gris. Any ideas?

[2017-01-11 21:27] jahnavi310 commented on #78
Is it possible to run browser-perf on the 3 different urls on three different chrome instances on the selenium grid at the same time?

[2017-01-13 02:02] axemclion commented on #78
The simplest way to do this would be to have 3 instances of browser-perf, each hitting a separate selenium instance. I am not sure how that maps to capabilities.

[2017-01-18 18:37] premkh9 opened #80 "Cannot find module './index.js"
Hi ,
I am observing '[11:32:38] E/launcher - Error: Error: Cannot find module './index.js'' when I try to execute the configuration file. I tried placing index file in different location and still observed the same error

This is my file structure. Not sure what is wrong with it. Please help me

![image](https://cloud.githubusercontent.com/assets/14880073/22077683/7668cd84-dd72-11e6-83b9-37ead3608

[2017-01-18 18:53] axemclion commented on #80
`./index.js` refers to a file on your local project. What are you using for perfRunner ?

[2017-01-18 18:53] #80 closed

[2017-01-18 19:47] premkh9 commented on #80
Documentation asked to use index.js file and I am using the same for perfrunner. Do I need to place index.js somewhere else ?

![image](https://cloud.githubusercontent.com/assets/14880073/22080287/46f017c4-dd7c-11e6-8763-0607862af803.png)

[2017-01-19 21:13] premkh9 opened #81 "Unsupported OS/browser/version/device combo"
Hi Ram,

I am using below capabilities to test the perf in saucelabs. But I am seeing proper response, when I suppress platform, screenresolution and version details. Not sure why I am observing starnge message when these options are added . Also I am not seeing 'number of requests' stats

    capabilities: {
        'browserName': 'chrome',
		'platform': 'Windows 7',
		'screenResolution':'1920x12

[2017-01-20 04:07] axemclion commented on #81
Are you able to use selenium directly with these parameters ?

[2017-01-20 04:07] axemclion commented on #79
Closing this issue. Pleaes re-open if this is still a problem.

[2017-01-20 04:07] #79 closed

[2017-01-20 04:08] axemclion commented on #78
Closing this issue - please re-open if you this it is still not resolved.

[2017-01-20 04:08] #78 closed

[2017-01-20 04:08] axemclion commented on #76
@SunboX Were you able to find a resolution to this issue ?

[2017-01-20 04:09] axemclion commented on #75
Thanks for reporting the issue. Closing this issue now, since there is no active work required on this. If you still have the issue or need help, please reopen the issue.

[2017-01-20 04:09] #75 closed

[2017-01-20 04:10] axemclion commented on #73
Closing this issue since there is no code change required as I see it. If you are still having the issue, please do reopen the issue and ping me, i will try to help.

[2017-01-20 04:10] #73 closed

[2017-01-20 04:11] axemclion commented on #72
@Darkoon Were you able to resolve this issue ? I tried running a Cordova app, and it seems like it was working for me.

[2017-01-20 22:16] premkh9 commented on #81
Sorry I didnt get your question. I spoke to saucelabs support as well. They said, its beyond thr control and they are not sure about the issue. If I just pass chrome browser without platform and version details, by default, it will be executed in windows XP and chrome 49 version. But I need to execute in latest version of chrome.

https://saucelabs.com/beta/tests/d1075bea739448d0af2ca6b089ca2cfb/m

[2017-01-20 23:23] axemclion commented on #81
Instead of running browser-perf, can you try using the `wd` node module and run that with the parameters on saucelabs ?

Also the list to the test is not publicly accessible.

[2017-01-26 00:16] premkh9 commented on #81
sorry please close down this issue. It was supposed to be reported under protractor-perf.

[2017-01-26 02:20] #81 closed

[2017-02-26 17:35] axemclion commented on #76
Closing this since Cross walk is now being deprecated. https://crosswalk-project.org/blog/crosswalk-final-release.html

[2017-02-26 17:35] #76 closed

[2017-02-26 17:35] axemclion commented on #72
Closing this issue since there is no repro. If you are still having this issue, please reopen the issue and I will be glad to help you.

[2017-02-26 17:35] #72 closed

[2017-02-26 17:36] axemclion opened #82 "Add V8 Call stats that Chrome exposes"
Category is called `disabled-by-default-v8.runtime_stats`

Details - https://gist.github.com/addyosmani/45b135900a7e3296e22673148ae5165b

[2017-02-27 15:28] naxhh opened #83 "[WIKI] demo plot links not working"
In the FAQ wiki page (https://github.com/axemclion/browser-perf/wiki/FAQ) the links in this phrase:
`We use it for generating graphs like this and this.`

Are not working, one is a 404 and the other one requires login when you want to see the data.

[2017-02-27 15:42] naxhh opened #84 "Undefined metric on a specific page"
hi everyone. I'm testing the tool for the very first time.

And I found a case when there's a metric returned with `undefined: 6` what does this means?

I've tested it in chrome 49 and 56 and happens in both. I've tested the same website in another url and it does not happen. I've tested other web pages and I don't get to reproduce it.

[code]

[2017-02-27 16:27] axemclion commented on #83
Fixed.

[2017-02-27 16:27] #83 closed

[2017-02-27 16:54] axemclion commented on #84
Undefined are usually caused when some labels are not populated in the results. You can ignore these numbers.

[2017-02-27 16:55] #84 closed

[2017-02-28 09:01] naxhh commented on #84
ok! thanks for the answer and for the project :)

[2017-04-17 15:44] iamdustan opened #85 "Userland metrics"
It would be nice to be able to write metrics in userland.

I’m thinking of being able to add something like what @andrewrota linked to from #69 could be written as a third party or private metric that could be added to the list of metrics though `metrics: ['NavigationTiming', require('./metrics/speed-index')]`.

[2017-05-25 13:41] agusbosso commented on #77
@axemclion I obtained the same error running with selenium hub instance in MAC, node version v4.2.3:

/Users/agustinabosso/.nvm/versions/node/v4.2.3/lib/node_modules/browser-perf/node_modules/q/q.js:155
                throw e;
                ^

TypeError: namespace.charCodeAt is not a function
    at selectColor (/Users/agustinabosso/.nvm/versions/node/v4.2.3/lib/node_modules/browser-perf/node_m

[2017-06-15 20:40] kohlmannj commented on #77
I'm also seeing this error after installing with `yarn global add browser-perf` on Node v6.11.0 / macOS 10.12.5.

[2017-08-29 07:00] zanettin opened #86 "Yarn installations"
Hi

When we install `browser-perf` via Yarn, the "cleanup modules" tasks cleans up `docs` folder which is required that the code works as expected. Maybe you can rename the folder to ensure correct behaviour also for Yarn users?

Thanks a lot for this great tool!
Cheers

[2017-08-30 20:46] premkh9 opened #87 "Defaulting to older version of chrome in sauce labs"
Hi,

When I tried to execute below command using my sauce credentials, by defaulted its routed to windows xp system and chrime version 49

Windows XP
 Chrome 49

https://saucelabs.com/beta/tests/f0b43f7f8b8f4486a5daf6c8fff343d0/commands#19

browser-perf http://yourwebsite.com --browsers=chrome --selenium=ondemand.saucelabs.com --username=username --accesskey=accesskey

Attached saucelabs log detai

[2017-08-30 21:08] axemclion commented on #86
@zanettin Thanks for reporting the issue.

Are you using `yarn` clean and running into the issue ? Could you please help with repro steps ?

[2017-08-30 22:10] premkh9 commented on #87
When I tried to set to chrome version and execute, i am seeing below error message

browser-perf https://www.choicehotels.com --browsers=C:\Users\pkashipa\Desktop\browser.json --selenium=ondemand.saucelabs.com --username=*********** --accesskey=************

It would be good, if you can suggest me how to pass version and platform details in command line as json config is not working.

Json file co

[2017-08-31 17:49] zanettin commented on #86
Hi @axemclion

Yes exactly. `yarn clean` does that.
Love this task and works quite great except for `browser-perf` on our react app 😄
What do you think?

Seams like this directories are removed:
[code]

[2017-09-01 04:19] axemclion commented on #86
@zanettin  Do you suggest I rename docs to something else ? I could look to see if there is a way to not delete those folders.

[2017-09-01 05:10] zanettin commented on #86
yes,  if this is an option for you. listed folders from above are deleted by yarn clean. if you find another workaround/option it would also be great :-) thx

[2017-09-30 19:27] idibidiart opened #88 "throws an error"
TypeError: namespace.charCodeAt is not a function

Trying to run it and it gives this error with or without command line arguments

[2017-10-16 23:25] aliry commented on #88
what configuration are you using?

[2017-10-17 14:19] idibidiart commented on #88
I just run it from command line with or without parameters and it crashes instantly.

The Readme does not say anything about a configuration profile.

[2017-10-18 14:25] axemclion commented on #88
Can you run it after setting an environment variable called `export DEBUG=*`

[2017-10-24 09:52] malled commented on #88
Fresh install on ubuntu 16.04:

[code]

[2017-10-25 14:12] malled opened #89 "Unable to open edge or ie"
I am trying to use browser-perf with edge or ie but unfortunately it doesn't work. Chrome always opens.

Starting selenium server with `java -Dwebdriver.edge.driver="edgedriver.exe" -Dwebdriver.ie.driver="iedriver.exe" -jar selenium-server-standalone-3.6.0.jar`

Executing browser-perf:
`browser-perf -c browser-perf.json http://www.google.com`

json content:
[code]

Edge or IE doesn't open; instead

[2017-10-30 14:39] axemclion commented on #89
Can you run browser-perf with `set DEBUG=*` ? That should give us the string used for selenium options.

[2017-11-02 07:52] malled commented on #89
`browser-perf -c browser-perf.json http://www.google.de`

[code]

[2017-11-06 15:17] axemclion commented on #89
@malled Thanks - looks like somewhere in the code, we are not respecting other browsers being sent. I may not have time to look into this, but would be open to get a pull request. I think the best place to start would be the [index file](https://github.com/axemclion/browser-perf/blob/master/lib/index.js#L17). It is very likely that the error is somewhere in the [place where the default options are

[2017-11-09 15:14] malled commented on #89
I've looked into it and your code seems to be fine. May this issue be related to selenium? Do you have any advise to debug this?

[2017-11-15 10:52] PatrickDai opened #90 "Run the node module multiple times"
How could I run `browserPerf(...)` 5 times in a row ?

I tried to do that within a for loop, it opens me 5 Chrome but it seems that only the 1st one ends correctly. The others don't return me any metrics

[code]
output:

[2017-11-15 14:11] malled commented on #43
Did it change again? I cannot see any metrics related to js or rendering.

[2017-11-20 05:24] axemclion commented on #43
@malled  Looks like there was another change in the logs.

[2017-11-20 05:25] axemclion commented on #90
browserPerf returns a callback - so you cannot just use a sync loop. You would have to call the furthur iterations in a callback.

[2017-11-20 05:25] #90 closed

[2017-11-22 16:48] PatrickDai opened #91 "Add a postScript option [suggestion]"
Is it planned to add a `postScript` option (like the `preScript` option) ?

It would be triggered just before closing the browser

Usage:
[code]

[2017-11-22 20:58] axemclion commented on #91
I think thats a good idea. Would you be interested in sending in a PR ?

[2018-02-06 22:22] chinhnguyen8855 opened #92 "browser-perf suddenly stops after successfully launched"
Hi,
I tried this tool manually, but I'm not able to get it work, or may be something I have missed.
I have selenium started, then I execute the following command:
browser-perf --selenium=http://localhost:4444/wd/hub --browsers=chrome http://sap-splash-ci.mo.sap.corp:8000
After Chrome started for 10 seconds, then it stops.  Is it expected?  I thought i could manually perform some actions on the bro

[2018-02-07 16:48] brandonaaron commented on #43
@axemclion Could you provide some guidance on making changes necessary to get the metrics back?

[2018-02-07 23:34] axemclion commented on #43
@brandonaaron - I think the best way to get started would be to write the metrics to a file by un-commenting [this line](https://github.com/axemclion/browser-perf/blob/master/lib/probes/PerfLogProbe.js#L65).

This would list all the raw info, and we should be able to pick up the specific metrics.

[2018-02-07 23:36] axemclion commented on #92
You cannot perform manual actions. The actions need to be written using selenium. If you are looking for performing manual actions and collecting perflog, I would recommend using Chrome directly, and saving the perflog.

Browser-perf simply automates that process.

[2018-02-07 23:36] #92 closed

[2018-02-09 15:39] brandonaaron commented on #43
@axemclion I see no `Tracing` related entries in the log output at that point. Only `Network` and `Page` entries. If I monitor the log from selenium server I do see `Tracing` entries.

[code]

[2018-02-12 15:05] brandonaaron commented on #43
I was able to get `Tracing` entries back into the mix... submitted a [pull request](https://github.com/axemclion/browser-perf/pull/94).

[2018-03-19 18:21] tvararu opened #95 "TimelineMetrics always return 0 for Styles and JavaScript"
Hello there! 👋

I'm running this script:

[code]

Nothing fancy, really, just navigates to a page and captures some TimelineMetrics. My output is:

[code]

I've ran it on other websites (which definitely have layout thrashing, performance issues when switching between pages), but both the `JavaScript` and `Styles` aggregates seem to return 0. I looked over `TimelineMetrics.prototype.addAggregates_

[2019-01-03 18:08] Assault1 opened #96 "Throws an error and let me know from where to disable logs."
Thu, 03 Jan 2019 17:51:49 GMT bp:probes NetworkResourcesProbe setup called
Thu, 03 Jan 2019 17:51:49 GMT bp:index Stating browser with {"browserName":"chrome","chromeOptions":{"perfLoggingPrefs":{"traceCategories":",blink.console,devtools.timeline,disabled-by-default-devtools.timeline,toplevel,disabled-by-default-devtools.timeline.frame,benchmark"},"args":["--enable-gpu-benchmarking","--enable-thr

[2019-01-04 14:32] mrajanikanth opened #97 "security issue with event-stream dependency for version 3.3.6."
As per [link](https://snyk.io/vuln/SNYK-JS-FLATMAPSTREAM-72637) [](url) event-stream node package has security vulnerabilities because of flatmap-stream.

[2019-02-01 17:20] mrajanikanth commented on #97
I am happy to create PR for this. before that when I ran npm test, 1 test failing :  End To End Test Cases gets enough statistics from browsers should work for a sample page: ....

[2019-02-04 15:38] stephenwil commented on #88
How do you disable debug output? Getting the same error, and it's now 2019 :-)

[2019-02-04 20:11] malled commented on #88
I've stopped using it, either because it didn't fulfill my needs or I couldn't get it running, cannot remember ;). But you could try to update the debug package through npm or edit it's code directly

[2019-09-13 14:31] sowmyasurampalli opened #98 "Measuring performance of a workflow"
My requirement is to measure the performance of each screen in my application. For example, launch home page --> login --> search --> place and order --> logout.

Now I have to performance test this flow. Can I integrate it with the existing selenium tests? If so can you please tell me how? If not, how am I supposed to use it?

[2019-11-27 17:27] #95 closed, assigned to nobody

[2020-06-25 09:13] matclab commented on #88
I got the same error here:
[code]

And selenium standalone server log is :
[code]
with browser-perf 1.4.11, firefox 77.0.1 and selenium-server-standalone 3.141.59

[2020-06-25 09:14] matclab commented on #88
I imagine `performance logging was not enabled` in selenium may be the root cause.